<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.business.mapper.DataPool.DataPoolMapper">
    
    <resultMap type="DataPool" id="DataPoolResult">
        <result property="id"                column="id"                />
        <result property="poolName"          column="pool_name"         />
        <result property="sourceType"        column="source_type"       />
        <result property="totalCount"        column="total_count"       />
        <result property="pendingCount"      column="pending_count"     />
        <result property="status"            column="status"            />
        <result property="connectionState"   column="connection_state"   />
        <result property="sourceConfigJson"  column="source_config_json"/>
        <result property="parsingRuleJson"   column="parsing_rule_json" />
        <result property="triggerConfigJson" column="trigger_config_json"/>
        <result property="delFlag"           column="del_flag"          />
        <result property="fileReadCompleted" column="file_read_completed"/>
        <result property="dataFetchInterval" column="data_fetch_interval"/>
        <result property="createBy"          column="create_by"         />
        <result property="createTime"        column="create_time"       />
        <result property="updateBy"          column="update_by"         />
        <result property="updateTime"        column="update_time"       />
        <result property="remark"            column="remark"            />
    </resultMap>

    <sql id="selectDataPoolVo">
        select id, pool_name, source_type, total_count, pending_count, status, connection_state, source_config_json, parsing_rule_json, trigger_config_json, del_flag, file_read_completed, data_fetch_interval, create_by, create_time, update_by, update_time, remark from data_pool
    </sql>

    <select id="selectDataPoolList" parameterType="DataPool" resultMap="DataPoolResult">
        <include refid="selectDataPoolVo"/>
        <where>  
            <if test="poolName != null  and poolName != ''"> and pool_name like concat('%', #{poolName}, '%')</if>
            <if test="sourceType != null  and sourceType != ''"> and source_type = #{sourceType}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="connectionState != null  and connectionState != ''"> and connection_state = #{connectionState}</if>
              <if test="fileReadCompleted != null  and fileReadCompleted != ''"> and file_read_completed = #{fileReadCompleted}</if>
            and del_flag = '0'
        </where>
    </select>
    
    <select id="selectDataPoolById" parameterType="Long" resultMap="DataPoolResult">
        <include refid="selectDataPoolVo"/>
        where id = #{id} and del_flag = '0'
    </select>
        
    <insert id="insertDataPool" parameterType="DataPool" useGeneratedKeys="true" keyProperty="id">
        insert into data_pool
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="poolName != null and poolName != ''">pool_name,</if>
            <if test="sourceType != null">source_type,</if>
            <if test="totalCount != null">total_count,</if>
            <if test="pendingCount != null">pending_count,</if>
            <if test="status != null">status,</if>
            <if test="connectionState != null">connection_state,</if>
            <if test="sourceConfigJson != null">source_config_json,</if>
            <if test="parsingRuleJson != null">parsing_rule_json,</if>
            <if test="triggerConfigJson != null">trigger_config_json,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="fileReadCompleted != null">file_read_completed,</if>
            <if test="dataFetchInterval != null">data_fetch_interval,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="poolName != null and poolName != ''">#{poolName},</if>
            <if test="sourceType != null">#{sourceType},</if>
            <if test="totalCount != null">#{totalCount},</if>
            <if test="pendingCount != null">#{pendingCount},</if>
            <if test="status != null">#{status},</if>
            <if test="connectionState != null">#{connectionState},</if>
            <if test="sourceConfigJson != null">#{sourceConfigJson},</if>
            <if test="parsingRuleJson != null">#{parsingRuleJson},</if>
            <if test="triggerConfigJson != null">#{triggerConfigJson},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="fileReadCompleted != null">#{fileReadCompleted},</if>
            <if test="dataFetchInterval != null">#{dataFetchInterval},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateDataPool" parameterType="DataPool">
        update data_pool
        <trim prefix="SET" suffixOverrides=",">
            <if test="poolName != null and poolName != ''">pool_name = #{poolName},</if>
            <if test="sourceType != null">source_type = #{sourceType},</if>
            <if test="totalCount != null">total_count = #{totalCount},</if>
            <if test="pendingCount != null">pending_count = #{pendingCount},</if>
            <if test="status != null">status = #{status},</if>
            <if test="connectionState != null">connection_state = #{connectionState},</if>
            <if test="sourceConfigJson != null">source_config_json = #{sourceConfigJson},</if>
            <if test="parsingRuleJson != null">parsing_rule_json = #{parsingRuleJson},</if>
            <if test="triggerConfigJson != null">trigger_config_json = #{triggerConfigJson},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="fileReadCompleted != null">file_read_completed = #{fileReadCompleted},</if>
            <if test="dataFetchInterval != null">data_fetch_interval = #{dataFetchInterval},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="updateDataPendingCount">
        update data_pool set pending_count = #{planPrintCount} where id = #{poolId}
    </update>

    <delete id="deleteDataPoolById" parameterType="Long">
        update data_pool set del_flag = '2' where id = #{id}
    </delete>

    <delete id="deleteDataPoolByIds" parameterType="String">
        update data_pool set del_flag = '2' where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
